.container {
    width: 1280px;
    min-width: 1280px;
    margin: 0 auto;
}
.wrapper {
    padding: 0 48px;
}
h5 {
    position: absolute;
    margin-top: 160px;
    font-size: 32px;
    font-weight: 600;
    padding-right: 860px;

    
}
.dLogo {
    right: 10%;
    top: -95px;
    position: absolute;
    display: inline;
}