@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto+Slab:wght@500;700&display=swap');

.header{
    /* display: flex;
    flex-direction: column;
    justify-content: flex-start; */
    margin: 50px;
    width: max-content;
    height: min-content;
}
.header h1{
    font-family: 'Roboto Slab', serif;
}
p{
    font-family: 'Montserrat', sans-serif;
    color: #777;
}
.header .label{
    font-family: 'Montserrat', sans-serif;
    color: #555;   
}
.header .form{
    height: min-content;
}
select{
    font-family: 'Montserrat', sans-serif;
    color: #777;   
}
label{
    font-family: 'Roboto Slab', serif; 
}
button{
    font-family: 'Roboto Slab', serif;
}